*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h2{
    font-size: 2.5em;
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

.container{
    max-width: 1200px;
    margin: 100px auto;
    padding: 0 15px;
}

.slider{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 50px 0;
}

.slider_item{
    overflow: hidden;
    position: relative;
}